# host download path
HOST_DOWNLOAD_PATH=/tmp/

# nefarious user and password
NEFARIOUS_USER=admin
NEFARIOUS_PASS=admin

# file permissions: define your user and group id so transmission downloads using proper file permissions
# to find out your uid and gid, run:
#   id -u
#   id -g
HOST_DOWNLOAD_UID=501
HOST_DOWNLOAD_GID=20

# number of workers for searching and downloading.
# leave as "0" to use the maximum number of CPUs on the system
NUM_CELERY_WORKERS=0

#########################################################
# vpn settings - leave blank if not using a vpn
# https://haugene.github.io/docker-transmission-openvpn/
#########################################################
OPENVPN_PROVIDER=
OPENVPN_USERNAME=
OPENVPN_PASSWORD=
OPENVPN_CONFIG=
LOCAL_NETWORK=192.168.1.0/24
# IPv6 - leave blank if your vpn doesn't require it
# 0=ipv6 enabled, 1=ipv6 disabled
VPN_IPV6_DISABLED=

#########################################################
# cleanup_duplicates.sh script settings
#########################################################
# Base path for downloads
NEFARIOUS_DOWNLOADS_PATH=/Users/paulista/Downloads
# Final destination path for movies
NEFARIOUS_FINAL_PATH=${NEFARIOUS_DOWNLOADS_PATH}/movies
# Path for unprocessed downloads
NEFARIOUS_UNPROCESSED_PATH=${NEFARIOUS_DOWNLOADS_PATH}/.nefarious-unprocessed-downloads/movies
# Path for incomplete downloads
NEFARIOUS_INCOMPLETE_PATH=${NEFARIOUS_DOWNLOADS_PATH}/.incomplete
# Name of the Transmission container
NEFARIOUS_TRANSMISSION_CONTAINER=nefarious-transmission-1
# Name of the Celery container
NEFARIOUS_CELERY_CONTAINER=nefarious-celery-1